@page "/users"
@layout MainLayout

@using Syncfusion.Blazor.Grids
@using DOS_DAL.Models;
@using DOS_BL.Services
@using DOS_BL.Queries;
@using DOS_PL.Data;

@inject UserService UserService

<h1 class="display-4 text-center">Users</h1>
<hr />
<div class="d-flex justify-content-center mb-3">
    <div class="btn-group btn-group-lg" role="group">
        <button type="button" class="btn btn-success">Add</button>
        <button type="button" class="btn btn-danger @AllowButtonClass">Delete</button>
        <button type="button" class="btn btn-warning @AllowButtonClass">Edit</button>
    </div>
</div>

<SfGrid TValue="User" AllowPaging="true" Height="100%" Width="100%" AllowSorting="true">

    <Syncfusion.Blazor.Data.SfDataManager Adaptor="Adaptors.CustomAdaptor">
        <DOSServiceAdaptor DataSource="@UserService.AsQueryable().WithRoles()" />
    </Syncfusion.Blazor.Data.SfDataManager>

    <GridEvents RowSelected="OnRowSelected" RowDeselected="OnRowDeselected" TValue="User" />
    <GridPageSettings PageSizes="@PageSizes" PageSize="25" />
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="Id" Direction="SortDirection.Ascending" />
        </GridSortColumns>
    </GridSortSettings>
    <GridColumns>
        <GridColumn Field="@nameof(User.Id)" />
        <GridColumn Field="@nameof(User.Username)" />
        <GridColumn Field="@nameof(User.FirstName)" />
        <GridColumn Field="@nameof(User.LastName)" />
        <GridColumn Field="@nameof(User.Email)" />
        <GridColumn Field="Role.Name" HeaderText="Role" />
    </GridColumns>
</SfGrid>

@code {
    private bool _itemSelected;

    private int[] PageSizes => new[] { 25, 50, 100, 250 };
    private string AllowButtonClass => _itemSelected ? "" : "disabled";

    private void OnRowSelected(RowSelectEventArgs<User> args)
    {
        _itemSelected = true;
    }

    private void OnRowDeselected(RowDeselectEventArgs<User> args)
    {
        _itemSelected = false;
    }
}
