@page "/users"
@layout MainLayout

@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Grids
@using DOS_DAL.Models;
@using DOS_BL.Services
@using DOS_BL.Queries;
@using DOS_PL.Data;

@inject UserService UserService

<h1 class="display-4 text-center">Users</h1>
<hr />
<div class="d-flex justify-content-center mb-3">
    <div class="btn-group btn-group-lg" role="group">
        <a href="/users/add" role="button" class="btn btn-success">Add</a>
        <button class="btn btn-danger" @onclick="OpenDeleteDialog" disabled=@(_selectedUser is null)>Delete</button>
        <a href="/users/edit/@_selectedUser?.Id" role="button" class="btn btn-warning @AllowButtonClass">Edit</a>
    </div>
</div>

<SfDialog Width="350px" IsModal="true" @bind-Visible="@IsDeleting">
    <DialogTemplates>
        <Header> Delete </Header>
        <Content> Are you sure you want to delete user @_selectedUser?.Username? </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="Yes" IsPrimary="true" OnClick="@PerformDeleteUser" />
        <DialogButton Content="Cancel" OnClick="@CloseDeleteDialog" />
    </DialogButtons>
</SfDialog>

<SfGrid @ref="_grid" TValue="User" AllowPaging="true" Height="100%" Width="100%" AllowSorting="true">

    <Syncfusion.Blazor.Data.SfDataManager Adaptor="Adaptors.CustomAdaptor">
        <DOSServiceAdaptor TModel="User" DataSource="@UserService.AsQueryable().WithRoles()" />
    </Syncfusion.Blazor.Data.SfDataManager>

    <GridEvents RowSelected="OnRowSelected" RowDeselected="OnRowDeselected" TValue="User" />
    <GridPageSettings PageSizes="@PageSizes" PageSize="25" />
    <GridSortSettings>
        <GridSortColumns>
            <GridSortColumn Field="Id" Direction="SortDirection.Ascending" />
        </GridSortColumns>
    </GridSortSettings>
    <GridColumns>
        <GridColumn Field="@nameof(User.Id)" />
        <GridColumn Field="@nameof(User.Username)" />
        <GridColumn Field="@nameof(User.FirstName)" />
        <GridColumn Field="@nameof(User.LastName)" />
        <GridColumn Field="@nameof(User.Email)" />
        <GridColumn Field="Role.Name" HeaderText="Role" />
    </GridColumns>
</SfGrid>

@code {
    private User _selectedUser;
    private SfGrid<User> _grid;

    private int[] PageSizes => new[] { 25, 50, 100, 250 };
    private string AllowButtonClass => _selectedUser is null ? "disabled" : "";
    private bool IsDeleting { get; set; }

    private void OnRowSelected(RowSelectEventArgs<User> args)
    {
        _selectedUser = args.Data;
    }

    private void OnRowDeselected(RowDeselectEventArgs<User> args)
    {
        _selectedUser = null;
    }

    public async Task PerformDeleteUser()
    {
        if (_selectedUser is null)
            return;

        await UserService.DeleteAsync(_selectedUser);
        CloseDeleteDialog();

        _grid.Refresh();
    }

    public void OpenDeleteDialog()
    {
        if (_selectedUser is null)
            return;

        IsDeleting = true;
    }

    public void CloseDeleteDialog()
    {
        IsDeleting = false;
    }
}
