@page "/order/add"
@layout MainLayout

@using DOS_BL.Queries; 
@using DOS_DAL.Models;
@using DOS_BL.DataObjects;
@using DOS_PL.Validation;
@using DOS_BL.Services
@using Syncfusion.Blazor.DropDowns;

@inject ProductService ProductService
@inject OrderService OrderService

@inject NavigationManager NavigationManager

<div class="d-flex align-items-center justify-content-center">
    <a href="/orders" class="btn btn-secondary dos-return-button">Return</a>
    <span class="display-4">Add new order</span>
</div>

<hr />

<div class="d-flex justify-content-center">
    <EditForm EditContext="@_editContext" OnValidSubmit="PerformAddOrder" class="p-4 mw-75 border rounded border-secondary">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <OptionalFieldValidator />
        <ServerSideValidator @ref="_serverSideValidator" />

        <div class="input-group input-group-lg mb-4 w-100">
            <div class="input-group-prepend">
                <span class="input-group-text mw-label">Serial Number</span>
            </div>

            <InputText class="form-control" @bind-Value="@_createOrderDTO.SerialNumber" />
        </div>

        <div class="input-group input-group-lg mb-4 w-100">
            <div class="input-group-prepend">
                <span class="input-group-text mw-label">Customer</span>
            </div>

            <InputText class="form-control" @bind-Value="@_createOrderDTO.Customer" />
        </div>

        <div class="input-group input-group-lg mb-4 w-100">
            <div class="input-group-prepend">
                <span class="input-group-text mw-label">Notes</span>
            </div>

            <InputText class="form-control" @bind-Value="@_createOrderDTO.Notes" />
        </div>

        <div class="input-group input-group-lg mb-4 w-100 d-flex justify-content-center">
            <div class="input-group-prepend">
                <span class="input-group-text mw-label">Product</span>
            </div>
            <SfDropDownList DataSource="@_products" @bind-Value="@_createOrderDTO.ProductId">
                <DropDownListFieldSettings Value="Id" Text="Name" />
            </SfDropDownList>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-5 mb-1 @DisabledClass">Add</button>
    </EditForm>
</div>

@code {
    private ServerSideValidator _serverSideValidator;
    private bool _isFormValid;
    private CreateOrderDTO _createOrderDTO = new();
    private EditContext _editContext;
    private List<Product> _products;

    private string DisabledClass => _isFormValid ? "" : "disabled";

    private async Task PerformAddOrder()
    {
        if (!await OrderService.InsertAsync(_createOrderDTO))
        {
            _serverSideValidator.DisplayError("", "An error occured while creating new order.");
            return;
        }

        NavigationManager.NavigateTo("/orders");
    }

    protected override void OnInitialized()
    {
        _editContext = new(_createOrderDTO);
        _editContext.SetFieldCssClassProvider(new BootstrapValidationCssClassProvider());

        _products = ProductService.AsQueryable().OrderById().ToList();
        _createOrderDTO.ProductId = _products.FirstOrDefault().Id;

        _editContext.OnFieldChanged += (s, e) =>
        {
            _isFormValid = _editContext.Validate();
            StateHasChanged();
        };
    }
}
